{% extends 'base.html' %}

{% block title %}
	form_list
{% endblock title %}
	

{% block content %}
	<!-- <table class="col-md-9" style="margin-left: 10px;"> -->
	<br>
	<h1 align="center">Form List</h1>
	<br>
	{% include '_table_counter.html' %}
	<table>
		<!-- <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}"> -->
			
			{% if form_list %}
				<tr>
					<th>Form Id</th>
					<th>Form Name</th>
					<th># Submissions</th>
					<th>Submit Page</th>
					<th>Submissions Page</th>
				</tr>	
				{% for each in form_list  %}
				<tr>
					<td></td>
					<td>{{ each.name }}</td>
					<td>{{ each.submissions_counter }}</td>
					<td>
						<a href="{% url 'form_submit' form_id=each.pk %}"
						class="btn btn-primary">
						 View</a>
					</td>
					<td>
						<a href="{% url 'form_submissions' form_id=each.pk %}"
						class="btn btn-primary">
							View</a>
					</td>
				</tr>
				{% endfor %}
			{% else %}
				<h5>There are no forms yet...</h5>
			{% endif %}
	</table>

	<br>
	<a href="{% url 'form_create' %}" class="btn btn-primary">+</a>
		
{% endblock content %}
	