{% extends 'base.html' %} -->
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
	{{ name }} submit
{% endblock title %}

{% block content %}
	<br>
	<h2>Submit {{ userform.name }} Form</h2>
	<br>
	
	<form method="POST">
		{% csrf_token %}
		<table class="col-md-15" style="margin-left: 10px;">
			{{ formset.management_form|crispy }}
			<tr>
				{% for field in form.get_data_fields %}	
					<td>{{ field|as_crispy_field }}</td>
				{% endfor %}
			</tr>
			<tr>
				<td>
					<button type="submit" class="btn btn-primary">Submit</button>
				</td>
			</tr>
		</table>
	</form>

{% endblock content %}

	
	