{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->
<!-- {% load staticfiles %} -->
<!-- <table class="col-md-9" style="margin-left: 10px;"> -->
<!-- {{ formset.management_form|crispy }} -->

{% block title %}
	{{ name }} submit
{% endblock title %}


{% block content %}
	<h2>Form submit page of Form {{ name }}</h2>
	<h2>UserForm: {{ userform }} </h2>
	<h2>submission id: {{ submission_id }}</h2>

	<form method="POST">
		{% csrf_token %}
		{% for field in form.get_data_fields %}
		<!-- TODO: change to correct label -->
			<!-- {{ field.label_tag}}  -->
			{{ field|as_crispy_field }}
		{% endfor %}
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

		
		

{% endblock content %}

	
	